body {
    background-color: #defcfc;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', serif;
    color: #40514E;
}
h1 {
    margin: 50px auto 0 auto;
    font-size: 5rem;
    font-family: 'Sacramento', cursive;
    color: #074684;
    line-height: 2;
}
h2 {
    font-size: 2.5rem;
    font-family: 'Rubik', sans-serif;
    color: #0ea5c6;
    font-weight: normal;
}

h3 {
    font-size: 1.5rem;
    color: #1eafed;
}

a {
    color: #ffb0fe;
    margin:  0 20px;
    text-decoration: none;
}
a:hover {
    color: #d195f9;
}
hr {
    width: 8%;
    border-style: none;
    border-top: 7px dotted;
    margin: 100px auto;
    color: #a0edf7;
}
p {
    line-height: 2;
    margin: 0;
}
.aa {
    font-weight: bolder;
    text-decoration: underline;
    font-style: italic;

}
.contact-me {
    background-color: #cadefc;
    padding: 30px 0;
}
.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 50px;
}
.middle-container {
    margin: 0;
}

.bottom-container {
    background-color: #11999E;
    padding: 30px 0 0;
}
.welcome {
    width: 400px;
    margin-top: 50px;
}
.profile {
    background-color: #f3f8ff;
    padding: 50px 0;
}
.top-title {
    margin: 0 auto 30px;
    font-size: 2.5em;
}

.copyright {
    color: #ffffff;
    font-size: 0.8rem;
    padding: 10px 0;
}

.skill-row {
    margin: 80px  auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}
.code-img {
    width: 25%;
    float: left;
    margin-right: 20px;
}
.lazy-img {
    width: 25%;
    float: right;
    margin-left: 20px;
}

.top-cloud {
    position: absolute;
    top: 60px;
    right: 15%;
    width: 200px;
}
.bottom-cloud {
    position: absolute;
    left: 20%;
    bottom: 300px;
}

.profile-pic {
    width: 20%;
}

.intro {
    width: 50%;
    margin: auto;
}
.contact-msg {
    width: 50%;
    margin: 40px auto 60px;
}
.tag-line {
    font-size: 1.5rem;
}
.tag-line-span {
    text-decoration: underline;
}
/*Custom button*/

.btn {
    background: #39AAF6;
    background-image: -webkit-linear-gradient(top, #39AAF6, #1E62D0);
    background-image: -moz-linear-gradient(top, #39AAF6, #1E62D0);
    background-image: -ms-linear-gradient(top, #39AAF6, #1E62D0);
    background-image: -o-linear-gradient(top, #39AAF6, #1E62D0);
    background-image: linear-gradient(to bottom, #39AAF6, #1E62D0);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #FFFFFF;
    font-family: 'Montserrat', serif;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn:hover {
    background: #9AD0C9;
    background-image: -webkit-linear-gradient(top, #9AD0C9, #3D94F6);
    background-image: -moz-linear-gradient(top, #9AD0C9, #3D94F6);
    background-image: -ms-linear-gradient(top, #9AD0C9, #3D94F6);
    background-image: -o-linear-gradient(top, #9AD0C9, #3D94F6);
    background-image: linear-gradient(to bottom, #9AD0C9, #3D94F6);
    text-decoration: none;
    color: #FFFFFF;
}